@import url("./common/navbar.css");
@import url("./common/navbar-mobile.css");
@import url("./home/events.css");
@import url("./home/department.css");
@import url("./home/staff.css");
@import url("./home/regulations.css");
@import url("./home/evaluation.css");

* {
  scroll-behavior: smooth;
  text-decoration: none;
  padding: 0;
  margin: 0;
}

body {
  position: relative;
  z-index: -2;
}

header {
  box-shadow: 0 0 20px;
}

.creators {
  font-family: "Poppins", sans-serif;
  text-align: center;
  font-size: 1rem;
}
