/*-----------------------------------------------------------*/
/*------------------- INTRODUCTION STYLES -------------------*/
/*-----------------------------------------------------------*/

#introduction-section {
  grid-template-columns: auto;
  justify-content: center;
  padding: 4rem 0 2rem 0;
  align-items: center;
  display: grid;
}

/*---------------------------------------------*/
/*----------------- CONTAINER -----------------*/
/*---------------------------------------------*/

.intro-container {
  grid-template-columns: repeat(2, auto);
  background-color: #000;
  justify-content: center;
  box-shadow: 0 0 20px;
  border-radius: 20px;
  align-items: center;
  position: relative;
  overflow: hidden;
  padding: 2rem;
  display: grid;
  width: 1100px;
  z-index: 2;
}

.intro-background {
  object-fit: contain;
  position: absolute;
  opacity: 0.25;
  width: 100%;
  z-index: -1;
  top: 0;
}

.intro-foreground {
  width: 400px;
}

/*----------------------------------------------------*/
/*------------------ TEXT CONTAINER ------------------*/
/*----------------------------------------------------*/

.intro-text-container {
  grid-template-columns: auto;
  justify-content: center;
  align-items: center;
  display: grid;
  gap: 0rem;
}

.intro-title {
  font-family: "Poppins", sans-serif;
  margin-bottom: -1rem;
  font-weight: 500;
  font-size: 5rem;
  cursor: default;
  color: #fff;
}

.intro-description {
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  font-size: 2rem;
  cursor: default;
  color: #fff;
}

/*-------------------------------------------------------*/
/*--------------------- LINK STYLES ---------------------*/
/*-------------------------------------------------------*/

.intro-link {
  background-color: #ffff00;
  padding: 0.5rem 4rem;
  border-radius: 40px;
  margin-top: 0.5rem;
  width: fit-content;
}

.intro-link-text {
  font-family: "Poppins", sans-serif;
  font-size: 1.25rem;
  font-weight: 500;
  color: #000;
}

.intro-link-image {
  width: 20px;
}

/*-----------------------------------------------------*/
/*----------------- RESPONSIVE DESIGN -----------------*/
/*-----------------------------------------------------*/

@media all and (max-width: 1220px) {
  .intro-container {
    width: 800px;
  }

  .intro-text-container {
    gap: 1.25rem;
  }

  .intro-title {
    line-height: 1.1;
  }

  .intro-description {
    line-height: 1.2;
  }

  .intro-link {
    margin-top: -0.5rem;
  }
}

@media all and (max-width: 900px) {
  .intro-container {
    width: 400px;
  }

  .intro-title {
    font-size: 1.8rem;
  }

  .intro-description {
    font-size: 1rem;
  }

  .intro-foreground {
    width: 200px;
  }

  .intro-link {
    padding: 0.25rem 2rem;
  }

  .intro-link-text {
    font-size: 1rem;
  }
}

@media all and (max-width: 500px) {
  .intro-container {
    width: 250px;
  }

  .intro-title {
    font-size: 1rem;
  }

  .intro-description {
    font-size: 0.65rem;
  }

  .intro-foreground {
    width: 100px;
  }

  .intro-link {
    padding: 0.25rem 2rem;
    margin-top: -1rem;
  }

  .intro-link-text {
    font-size: 0.65rem;
  }
}

/*--------------------------------------------------*/
/*------------------- END OF CSS -------------------*/
/*--------------------------------------------------*/
