/*-----------------------------------------------------*/
/*------------------- RESULT STYLES -------------------*/
/*-----------------------------------------------------*/

#results-section {
  grid-template-columns: auto;
  justify-content: center;
  padding: 5rem 0 2rem 0;
  align-items: center;
  position: relative;
  display: grid;
  gap: 2rem;
}

.results-section-title {
  font-family: "Montserrat", sans-serif;
  letter-spacing: 10px;
  text-align: center;
  font-size: 4rem;
}

.deanery-table {
  background: linear-gradient(to right, #c83249, #23074d);
  border-radius: 10px;
  padding: 0.2rem;
  margin: 0 auto;
  height: 350px;
  width: 442px;
  border: none;
}

.results-table {
  background: linear-gradient(to right, #c83249, #23074d);
  border-radius: 10px;
  padding: 0.2rem;
  margin: 0 auto;
  height: 930px;
  width: 630px;
  border: none;
}

/*-------------------------------------------------------*/
/*------------------ RESPONSIVE DESIGN ------------------*/
/*-------------------------------------------------------*/

@media all and (max-width: 740px) {
  .results-section-title {
    font-size: 3rem;
  }
}

@media all and (max-width: 645px) {
  .results-table {
    width: 442px;
  }
}

@media all and (max-width: 580px) {
  #results-section {
    padding: 3rem;
  }

  .results-section-title {
    font-size: 1rem;
  }
}

@media all and (max-width: 475px) {
  .deanery-table,
  .results-table {
    width: 300px;
  }
}

/*------------------------------------------------*/
/*------------------ END OF CSS ------------------*/
/*------------------------------------------------*/
