/*-----------------------------------------------------------------------*/
/*-------------------------- DEPARTMENT STYLES --------------------------*/
/*-----------------------------------------------------------------------*/

#department-section {
  grid-template-columns: auto;
  justify-content: center;
  align-items: stretch;
  padding: 2rem 0;
  display: grid;
  gap: 2rem;
}

.department-section-title {
  font-family: "Montserrat", sans-serif;
  letter-spacing: 15px;
  margin-bottom: 2rem;
  font-weight: 1000;
  text-align: center;
  font-size: 3rem;
  cursor: default;
}

.department-row:nth-of-type(1) {
  grid-template-columns: repeat(3, auto);
  justify-content: center;
  align-items: stretch;
  display: grid;
  gap: 2rem;
}

.department-row:nth-of-type(2) {
  grid-template-columns: repeat(2, auto);
  justify-content: center;
  align-items: stretch;
  display: grid;
  gap: 2rem;
}

/*---------------------------------------------------------*/
/*----------------------- CONTAINER -----------------------*/
/*---------------------------------------------------------*/

.department-container {
  background: linear-gradient(45deg, #0f226f 0%, #080020 100%);
  grid-template-columns: auto;
  justify-content: stretch;
  box-shadow: 0 0 10px;
  align-items: center;
  border-radius: 10px;
  padding: 2rem;
  display: grid;
  width: 400px;
  gap: 1rem;
}

.department-container:nth-of-type(4) {
  grid-column: 1 / 3;
}

.department-divider {
  border-bottom: 2px solid #ffffff39;
  border-right: none;
  border-left: none;
  border-top: none;
}

.department-name {
  font-family: "Poppins", sans-serif;
  width: fit-content;
  font-size: 1.5rem;
  font-weight: 500;
  cursor: default;
  color: #fff;
}

.department-sub-name {
  font-family: "Poppins", sans-serif;
  width: fit-content;
  font-size: 1.25rem;
  font-weight: 300;
  cursor: default;
  color: #fff;
}

.department-teacher-link {
  grid-template-columns: repeat(2, auto);
  font-family: "Poppins", sans-serif;
  justify-content: left;
  align-items: center;
  display: grid;
  gap: 0.5rem;
}

.department-teacher-name {
  font-family: "Poppins", sans-serif;
  width: fit-content;
  font-size: 1.25rem;
  font-weight: 300;
  color: #fff;
}

.department-teacher-image {
  width: 20px;
}

.department-link {
  grid-template-columns: repeat(2, auto);
  transition: background-color 450ms;
  background-color: #ca1222;
  box-shadow: 0 0 10px #000;
  justify-content: center;
  border-radius: 40px;
  align-items: center;
  margin-top: 0.25rem;
  padding: 0.3rem 0;
  display: grid;
  gap: 0.5rem;
}

.department-link1 {
  grid-template-columns: repeat(2, auto);
  transition: background-color 450ms;
  background-color: #fc3838;
  box-shadow: 0 0 10px #000;
  justify-content: center;
  border-radius: 40px;
  align-items: center;
  margin-top: 0.25rem;
  padding: 0.3rem 0;
  display: grid;
  gap: 0.5rem;
}

.department-link2 {
  grid-template-columns: repeat(2, auto);
  transition: background-color 450ms;
  background-color: #fd6f6f;
  box-shadow: 0 0 10px #000;
  justify-content: center;
  border-radius: 40px;
  align-items: center;
  margin-top: 0.25rem;
  padding: 0.3rem 0;
  display: grid;
  gap: 0.5rem;
}

.department-link-text {
  font-family: "Poppins", sans-serif;
  font-size: 1.25rem;
  font-weight: 400;
  color: #fff;
}

.department-link-image {
  width: 25px;
}

.department-link:hover {
  background-color: #9e002d;
}

.department-link1:hover {
  background-color: #9e002d;
}

.department-link2:hover {
  background-color: #9e002d;
}

/*-------------------------------------------------------*/
/*------------------ RESPONSIVE DESIGN ------------------*/
/*-------------------------------------------------------*/

@media all and (max-width: 1480px) {
  .department-section-title {
    font-size: 1.5rem;
  }

  .department-row:nth-of-type(1) {
    grid-template-columns: auto;
  }
}

@media all and (max-width: 1000px) {
  .department-row:nth-of-type(2) {
    grid-template-columns: auto;
    justify-content: center;
    align-items: stretch;
    display: grid;
    gap: 2rem;
  }
}

@media all and (max-width: 500px) {
  .department-section-title {
    letter-spacing: 5px;
    margin-bottom: 0rem;
    font-size: 2rem;
  }

  .department-container {
    width: 300px;
  }
}

/*-----------------------------------------------------------*/
/*----------------------- END OF CSS  -----------------------*/
/*-----------------------------------------------------------*/
