/*-------------------------------------------------------------*/
/*--------------------- EVALUATION STYLES ---------------------*/
/*-------------------------------------------------------------*/

#evaluation-section {
  grid-template-columns: repeat(4, auto);
  justify-content: center;
  align-items: center;
  padding: 3rem 0;
  gap: 2rem 4rem;
  display: grid;
}

.evaluation-section-title {
  font-family: "Montserrat", sans-serif;
  letter-spacing: 10px;
  grid-column: span 4;
  text-align: center;
  font-size: 5rem;
  cursor: default;
}

/*---------------------------------------------*/
/*----------------- CONTAINER -----------------*/
/*---------------------------------------------*/

.evaluation-container {
  grid-template-columns: auto;
  justify-content: center;
  align-items: center;
  display: grid;
  gap: 0.5rem;
}

.evaluation-title {
  font-family: "Poppins", sans-serif;
  text-align: center;
  font-weight: 500;
  cursor: default;
  font-size: 2rem;
}

.evaluation-points-container {
  background: linear-gradient(45deg, #11277f 0%, #080020 100%);
  grid-template-columns: auto;
  justify-content: center;
  box-shadow: 0 0 10px;
  align-items: center;
  border-radius: 5px;
  padding: 1.5rem;
  display: grid;
  gap: 0.5rem;
}

.evaluation-point-divider {
  border-bottom: 2px solid #ffffff3c;
  border-right: none;
  border-left: none;
  border-top: none;
}

.evaluation-point {
  font-family: "Poppins", sans-serif;
  font-size: 1.5rem;
  font-weight: 300;
  cursor: default;
  color: #fff;
}

.evaluation-warning {
  background: linear-gradient(to right, #c83249, #23074d);
  font-family: "Poppins", sans-serif;
  padding: 0.5rem 1rem;
  letter-spacing: 1px;
  grid-column: span 4;
  border-radius: 5px;
  text-align: center;
  width: fit-content;
  font-weight: 500;
  cursor: default;
  font-size: 1rem;
  margin: 0 auto;
  color: #fff;
}

/*-------------------------------------------------------*/
/*------------------ RESPONSIVE DESIGN ------------------*/
/*-------------------------------------------------------*/

@media all and (max-width: 1350px) {
  #evaluation-section {
    grid-template-columns: repeat(2, auto);
    justify-content: center;
    align-items: center;
    padding: 3rem 0;
    gap: 2rem 4rem;
    display: grid;
  }

  .evaluation-section-title {
    grid-column: span 2;
  }

  .evaluation-warning {
    grid-column: span 2;
  }
}

@media all and (max-width: 1400px) {
  .evaluation-warning {
    font-size: 0.8rem;
  }
}

@media all and (max-width: 960px) {
  .evaluation-warning {
    font-size: 0.65rem;
  }
}

@media all and (max-width: 800px) {
  .evaluation-warning {
    font-size: 0.5rem;
  }
}

@media all and (max-width: 700px) {
  #evaluation-section {
    grid-template-columns: auto;
    justify-content: center;
    align-items: center;
    padding: 3rem 2rem;
    display: grid;
  }

  .evaluation-section-title {
    grid-column: span 1;
    font-size: 2rem;
  }

  .evaluation-section-title {
    grid-column: span 1;
  }

  .evaluation-warning {
    grid-column: span 1;
  }
}

/*--------------------------------------------------*/
/*------------------- END OF CSS -------------------*/
/*--------------------------------------------------*/
