/*------------------------------------------------------------------*/
/*-------------------------- STAFF STYLES --------------------------*/
/*------------------------------------------------------------------*/

#staff-section {
  grid-template-columns: auto;
  justify-content: center;
  align-items: stretch;
  padding: 3rem 0;
  display: grid;
  gap: 2rem;
}

.staff-section-title {
  font-family: "Montserrat", sans-serif;
  letter-spacing: 15px;
  margin-bottom: 2rem;
  text-align: center;
  font-size: 2.5rem;
  cursor: default;
}

.staff-row {
  grid-template-columns: repeat(2, auto);
  justify-content: center;
  align-items: stretch;
  display: grid;
  gap: 2rem;
}

/*---------------------------------------------------------*/
/*----------------------- CONTAINER -----------------------*/
/*---------------------------------------------------------*/

.staff-container {
  background: linear-gradient(45deg, #0f226f 0%, #080020 100%);
  grid-template-columns: auto;
  transition: translate 450ms;
  justify-content: stretch;
  box-shadow: 0 0 10px;
  align-items: center;
  border-radius: 10px;
  padding: 2rem;
  display: grid;
  width: 400px;
  gap: 1rem;
}

.staff-name {
  font-family: "Poppins", sans-serif;
  width: fit-content;
  font-size: 1.5rem;
  font-weight: 500;
  color: #fff;
}

.staff-divider {
  border-bottom: 2px solid #ffffff39;
  border-right: none;
  border-left: none;
  border-top: none;
}

.staff-link {
  grid-template-columns: repeat(2, auto);
  transition: background-color 450ms;
  background-color: #ca1222;
  box-shadow: 0 0 10px #000;
  justify-content: center;
  border-radius: 40px;
  align-items: center;
  margin-top: 0.25rem;
  padding: 0.3rem 0;
  display: grid;
  gap: 0.5rem;
}

.staff-link1 {
  grid-template-columns: repeat(2, auto);
  transition: background-color 450ms;
  background-color: #fc3838;
  box-shadow: 0 0 10px #000;
  justify-content: center;
  border-radius: 40px;
  align-items: center;
  margin-top: 0.25rem;
  padding: 0.3rem 0;
  display: grid;
  gap: 0.5rem;
}

.staff-link2 {
  grid-template-columns: repeat(2, auto);
  transition: background-color 450ms;
  background-color: #fd6f6f;
  box-shadow: 0 0 10px #000;
  justify-content: center;
  border-radius: 40px;
  align-items: center;
  margin-top: 0.25rem;
  padding: 0.3rem 0;
  display: grid;
  gap: 0.5rem;
}

.staff-link-text {
  font-family: "Poppins", sans-serif;
  font-size: 1.25rem;
  font-weight: 400;
  color: #fff;
}

.staff-link-image {
  width: 25px;
}

/*-------------------------------------------*/
/*--------------- TRANSITIONS ---------------*/
/*-------------------------------------------*/

.staff-container:hover {
  translate: 0 -10px;
}

.staff-link:hover {
  background-color: #9e002d;
}

.staff-link1:hover {
  background-color: #9e002d;
}

.staff-link2:hover {
  background-color: #9e002d;
}

/*-------------------------------------------------------*/
/*------------------ RESPONSIVE DESIGN ------------------*/
/*-------------------------------------------------------*/

@media all and (max-width: 1000px) {
  .staff-section-title {
    font-size: 2rem;
  }

  .staff-row {
    grid-template-columns: auto;
    justify-content: center;
    align-items: stretch;
    display: grid;
    gap: 2rem;
  }
}

@media all and (max-width: 800px) {
  .staff-section-title {
    font-size: 1em;
  }
}

@media all and (max-width: 500px) {
  .staff-section-title {
    font-size: 1rem;
  }

  .staff-container {
    width: 300px;
  }
}

@media all and (max-width: 450px) {
  .staff-section-title {
    margin-bottom: 0rem;
    letter-spacing: 0px;
    font-size: 1rem;
  }
}

/*-----------------------------------------------------------*/
/*----------------------- END OF CSS  -----------------------*/
/*-----------------------------------------------------------*/
